@import url(components/card-structure.css);
@import url(components/nav.css);
@import url(components/buttons.css);
@import url(components/create.css);
@import url(components/profile.css);
:root {
    --lightgreen: rgba(159,201,102,1);
    --gradient: rgba(250,253,214,1);
    --darkgreen: #20520e; 
    --background: rgb(247, 255, 245);
}
