* {
	box-sizing: border-box;
}

header {
	background: linear-gradient(
		180deg,
		var(--lightgreen) 0%,
		var(--gradient) 80%,
		var(--background) 100%
	);
	position: sticky;
	width: 100vw;
	top: 0;
	z-index: 5;
}
h1 {
	font-family: 'Montserrat', serif;
	font-size: 3em;
	text-align: center;
	text-shadow: 5px 5px 2px rgb(11, 88, 17);
	color: white;
}

h2 {
	font-size: 2em;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: var(--background);
}

.card {
	display: flex;
	justify-self: center;
	align-content: center;
	position: static;
	box-shadow: 1px 2px 2px 3px grey;
	border-radius: 20px;
	margin: 4em auto;
	background-color: white;
	padding: 0.5em;
	flex-direction: column;
	font-family: 'Roboto';
	font-size: 1.2em;
	max-width: 500px;
}
.card__question {
	position: relative;
	top: -20px;
	right: -10px;
}

.tags {
	align-self: center;
	margin: 1.2em;
}

.hidden {
	display: none;
}

.card__answer {
	position: relative;
	right: -10px;
	width: 480px;
}
