.create {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.create__body {
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2em;
}

textarea {
	margin: 1em 0 2em 0;
	font-size: 1em;
}

.create__nav ul {
	display: flex;
	list-style: none;
	width: 100%;
	flex-direction: row;
}

.create__nav ul li {
	margin: 0 0.5rem;
}

.create__nav ul li a {
	margin: 1.2em;
	align-self: center;
}

.svg {
	fill: var(--darkgreen);
}
