footer {
	position: fixed;
	display: flex;
	width: 100vw;
	bottom: 0;
	z-index: 1;
	background: linear-gradient(
		90deg,
		var(--lightgreen) 0%,
		var(--gradient) 54%,
		var(--lightgreen) 100%
	);
	justify-content: center;
	align-self: center;
}

.nav ul {
	display: flex;
	list-style: none;
	width: 100%;
	flex-direction: row;
}

.nav ul li {
	margin: 0 0.5rem;
}

.nav ul li a {
	margin: 1.2em;
	align-self: center;
}

.svg {
	fill: var(--darkgreen);
}
